:root {
  --c-text: #141203;
  --c-text-light: rgba(20, 18, 3, .75);
  --c-brand: #418AB2;
  --c-brand-light: #64aad5;
  --c-brand-secondary: #FFE37C;
  --c-brand-secondary-light: #FFEBA0;
  --c-bg-navbar: var(--c-brand-secondary);
  --content-width: auto;
  --navbar-height: 10rem;
  --navbar-padding-v: 0.7rem;
  --navbar-padding-h: 1.5rem;
}

.site-name {
  display: none;
}

.navbar {
  .logo {
    max-width: 10rem;
    height: 100%;
  }

  margin: 0 15px 0 15px;
  padding: 0 65px;
  border-bottom: 15px solid var(--c-brand-secondary-light);
  border-top: 15px solid #fff;

  .nav-link {
    background: black;
    color: #fff;

    span {
      display: none;
    }
  }

  .nav-link[aria-label="GitHub"] {
    background-color: transparent;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: block;
    text-indent: -9999px;
    background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-1325.000000, -62.000000)' fill='%23141203'%3E%3Cg transform='translate(1325.000000, 62.000000)'%3E%3Cpath d='M11.998895,0 C5.37327726,0 0,5.5085046 0,12.3040642 C0,17.7400586 3.43804291,22.3512503 8.2065134,23.9781965 C8.80690015,24.0914936 9.0256914,23.7115707 9.0256914,23.385275 C9.0256914,23.0937239 9.015378,22.3195271 9.00948464,21.2930554 C5.67162896,22.0362843 4.96737162,19.6434498 4.96737162,19.6434498 C4.42149851,18.2219489 3.63473403,17.8435366 3.63473403,17.8435366 C2.54519783,17.0806696 3.71724117,17.0957758 3.71724117,17.0957758 C4.92169803,17.1826369 5.55523497,18.3639479 5.55523497,18.3639479 C6.62561773,20.2439244 8.36416096,19.7008536 9.04779152,19.3858877 C9.15681881,18.5912974 9.46695724,18.048982 9.80950919,17.7415693 C7.14497069,17.4311352 4.3434114,16.3752063 4.3434114,11.6605367 C4.3434114,10.3175885 4.8111974,9.2186067 5.57880843,8.35905943 C5.45504773,8.04787008 5.04324872,6.79631488 5.69667577,5.10290101 C5.69667577,5.10290101 6.70370484,4.7720735 8.99622456,6.3642753 C9.95316001,6.09085165 10.9800792,5.95489514 12.0003683,5.94960794 C13.0199208,5.95489514 14.0461033,6.09085165 15.0045121,6.3642753 C17.2955585,4.7720735 18.3011142,5.10290101 18.3011142,5.10290101 C18.9560146,6.79631488 18.5442156,8.04787008 18.4211916,8.35905943 C19.1902759,9.2186067 19.6543786,10.3175885 19.6543786,11.6605367 C19.6543786,16.3872913 16.8483993,17.4273587 14.1757574,17.7317502 C14.6059732,18.1116731 14.9897787,18.8624551 14.9897787,20.0105323 C14.9897787,21.6548508 14.9750453,22.9819374 14.9750453,23.385275 C14.9750453,23.7145919 15.1916265,24.0975361 15.8001166,23.9774412 C20.5649038,22.3467184 24,17.738548 24,12.3040642 C24,5.5085046 18.6267227,0 11.998895,0' id='Fill-4'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    &:hover {
      opacity: 0.7;
    }
  }
}

.sidebar-heading + ul {
  position: relative;
}

.sidebar-heading + ul:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 4px;
  height: 100%;
  background: #E5EFF4;
}

.theme-default-content {
  h1 {
    font-size: 32px;
    font-weight: 600;
  }

  h2 {
    font-size: 1.35rem;
  }
}


@media only screen and (max-width: 419px) {
  .theme-default-content:not(.custom) > h1, .theme-default-content:not(.custom) > h2, .theme-default-content:not(.custom) > h3, .theme-default-content:not(.custom) > h4, .theme-default-content:not(.custom) > h5, .theme-default-content:not(.custom) > h6 {
    margin-top: 0;
    padding-top: 0;
  }

  .page {
    padding-top:  7rem;
  }

  .sidebar{
    padding-top:  5rem;
  }

  .navbar {
    margin: 0;
    padding: 0 1.5rem;
    border-bottom: 15px solid var(--c-brand-secondary-light);
    border-top: 0;
    height: 6rem;

    .logo {
      max-width: 8rem;
      position: relative;
      left: 3rem;
      margin-top: -3px;
    }
  }
}
