:root {
  --c-text: #141203;
  --c-text-light: rgba(20, 18, 3, .75);
  --c-brand: #418AB2;
  --c-brand-light: #64aad5;
  --c-brand-secondary: #FFE37C;
  --c-brand-secondary-light: #FFEBA0;
  --c-bg-navbar: var(--c-brand-secondary);
  --content-width: auto;
  --navbar-height: 10rem;
  --navbar-padding-v: 0.7rem;
  --navbar-padding-h: 1.5rem;
}

.site-name {
  display: none;
}

.navbar {
  .logo {
    max-width: 10rem;
    height: 100%;
  }

  margin: 0 15px 0 15px;
  padding: 0 65px;
  border-bottom: 15px solid var(--c-brand-secondary-light);
  border-top: 15px solid #fff;

  .nav-link {
    background: black;
    color: #fff;

    span {
      display: none;
    }
  }
}

.sidebar-heading + ul {
  position: relative;
}

.sidebar-heading + ul:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 4px;
  height: 100%;
  background: #E5EFF4;
}

.theme-default-content {
  h1 {
    font-size: 32px;
    font-weight: 600;
  }

  h2 {
    font-size: 1.35rem;
  }
}


@media only screen and (max-width: 419px) {
  .theme-default-content:not(.custom) > h1, .theme-default-content:not(.custom) > h2, .theme-default-content:not(.custom) > h3, .theme-default-content:not(.custom) > h4, .theme-default-content:not(.custom) > h5, .theme-default-content:not(.custom) > h6 {
    margin-top: 0;
    padding-top: 0;
  }

  .page {
    padding-top:  7rem;
  }

  .sidebar{
    padding-top:  5rem;
  }

  .navbar {
    margin: 0;
    padding: 0 1.5rem;
    border-bottom: 15px solid var(--c-brand-secondary-light);
    border-top: 0;
    height: 6rem;

    .logo {
      max-width: 8rem;
      position: relative;
      left: 3rem;
      margin-top: -3px;
    }
  }
}
